body {
  font-family: Arial, sans-serif;
  background-color: black;
  color: white;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.description {
  text-align: center;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  border-radius: 4px;
}

button:hover {
  background-color: #0069d9;
}

.top-right {
  position: absolute;
  top: 10px;
  right: 10px;
}

.auth-buttons {
  display: flex;
  gap: 10px;
}

#phi-chart-container {
  width: 100%; /* Full width for the graph */
  max-width: 800px; /* Consistency with the body's max-width */
  margin: 20px auto 0; /* Adjust top margin to push it down slightly */
  display: none; /* Hidden initially */
  position: relative; /* For absolute positioning of contained elements */
  padding-top: 40px; /* Creates space at the top inside the container */
}

#average-phi-container {
  margin-top: -70px; /* Negative margin to move it up, adjust as needed */
  text-align: center;
  width: 100%;
}



#back-button {
  position: fixed; /* Fixes the button relative to the viewport */
  top: 20px; /* Distance from the top of the viewport */
  left: 20px; /* Distance from the left of the viewport */
  z-index: 1000; /* Ensures it stays above other content */
}
